<h1>Products#index</h1>



<p>Find me in app/views/products/index.html.erb</p>


<div class="container">
<div class="row">
<% @product.each_slice(4) do |row| %>
<% row.each do |product| %>
<div class="col">
<div class="w-100" style="margin-top:20px;">
<div class="card" style="width: 18rem;">
  <img src="<%= product.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text"><%= product.price %></p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Comprar</a>
    <a href="#" class="card-link">Añadir al carro</a>
  </div>
</div>
</div>
</div>
<% end %>
<% end %>
  </div>
  </div>
